.contacts_info {
    display: grid;
    grid-template-columns:  100% 50% 50%;
    grid-template-rows: repeat(1, 100%);
}

.wrap_contacts img {
    max-width: 100%;
    width: 70px;
    margin: 3px;
}

.address {
    margin: 55px;
}

.wrap_contacts {
    display: grid;
    grid-template-columns: 50% 50%;
    color: black;
}

.tel {
    margin: 30px;
}

.email {
    padding: 0;
    margin: 0;
}

.email p {
    margin-top: 0;
    margin-bottom: 30px;
}

.maps {
    margin: 10px;
    max-width: 1280px;
    width: 100%;
    height: 100%;
}
.page_title {
    font-size: 28px;
}

@media (max-width: 767px) {

    .maps{
        width:50%;
    }
    .page_title {
        font-size: 20px;
    }

    .wrap_contacts img {;
        width: 40px;
        margin: 5px;
    }

    .friends_con {
        width: 20px;
        height: 40px;
        display: flex;
    }

    .text_friends {
        opacity: 0;
    }
    .networkLogo{
        width: 20px;

    }
}