@media (max-width: 767px) {
    .lets_be_friends {
        font-size: 0;
    }
    .networkLogo{
      width: 30px;

    }
    .friends_con {
        width: 20px;
        height: 40px;
        display: flex;
    }

    .text_friends {
        opacity: 0;
    }
    .networkLogo{
        width: 20px;

    }
    .friends{
        display: flex;
    }

}