.company{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr  1fr;*/
    /*background: #4C3E31;*/
    /*grid-column-gap: 20px;*/
    /*width: 1280px;*/
    color: white;
    width: 100%;
}


.wrap_head{
    margin-top: 3%;
    margin-left: 33%;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-column: 1/5 ;
    width: 45%;
    border:   solid 4px black;
    border-radius: 50px;
    background-color: #FD947E;
}





.head {
   text-align: center;
    /*margin-left: 40px;*/
    color: black;
    font-size: 20px;

}

.img-item img {
    width: 70%;

}
.img-item{
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 3px;
     /*margin-left: 150px;*/
    text-align: center;
    word-spacing: 5px;
}


@media (max-width:767px) {
    .company{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*.wrap_head{*/
    /*    margin-left: 40px;*/
    /*    display: grid;*/
    /*    grid-column: 1/5 ;*/
    /*    width: 300px;*/
    /*    height: 40px;*/
    /*    border:solid 4px black;*/
    /*    border-radius: 50px;*/
    /*    background-color: #FD947E;*/
    /*    font-size: 16px;*/
    /*}*/

    /*.head {*/
    /*    text-align: center;*/
    /*    margin-left: 40px;*/
    /*    margin-top: 10px;*/
    /*    color: black;*/
    /*    font-size: 16px;*/

    /*}*/

    .img-item img {
        width: 115px;
        height: 115px;

    }


    /*.img-item{*/
    /*    margin-top: 20px;*/
    /*    line-height: 20px;*/
    /*    letter-spacing: 4px;*/
    /*    text-align: justify;*/
    /*    word-spacing: 5px;*/
    /*    margin-left: 100px;*/
    /*}*/

}