
.modal {
    background-color: #71BAC0;
    width: 100%;
    position: fixed;
    height: 100%;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

}
.modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
.modal_content{
    display:block;
    margin:50px auto;
    width:500px;
    min-height:300px;
    background-color: #71BAC0;
    border-radius: 10px;
    padding:20px;
    color: #333333;
    position:relative;
    list-style-type: none;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}

.modal_content li {
    list-style-type: none;
    color: black;
}


.toggle-button {
    position:relative;
    border-radius: 10px;
    left: 40%;
    top:20px;
    transition: .5s;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: none;
    /*text-shadow: -1px -1px #000;*/
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #BE2E33;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
.toggle-button:active {
    top: 1px;
    box-shadow: none;
}
.toggle-button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}






