.App {
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 3fr;
  width: 1280px ;
  background: #4C3E31 ;
  font-family: Chalkduster ;
  grid-template-areas:
  'h' 'h'
  'c';
  grid-gap: 10px;
  overflow-wrap: break-spaces;
  min-width: 320px;


}
