.header{
    display: grid;
    background:  #56BCC2;
    box-shadow: 10px 14px 50px 0;
    /*grid-template-columns: 224px 2fr;*/
    grid-template-columns: 20% 80%;
    /*grid-column-gap: 5%;*/
    width: 100%;
    top:0;
    left: 0;
    z-index: 50;
}


.header_body {
    position: relative;
    z-index: 2;
}

.header_burger{
    display: block;
}
.header_link:hover, .header_link:active, .header_link:focus{

    color: #FFFFFF;
}
.header img {
    max-width: 100%;
    width: 55%;
    display: block;

}
@media (max-width:850px) {
    .header img {
        display: block;
        width: 112px;

    }

}
@media (max-width:767px) {
    .header img {
        max-width: 100%;
        width: 88px;
        position: relative;
        z-index: 1;

    }

}
@media (max-width:350px) {
    .header img {
        width: 100px;

    }

}


.header_menu {
    display: flex;
    justify-content: space-around;
    /*margin-left: 70px;*/
    flex-wrap: wrap;
    list-style: none;

}
.header_list {
    display: flex;
    list-style: none;
    margin-top: 30px;
}
.menu_item{
    margin-top: 5px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    /*font-weight: 600;*/
    text-transform: uppercase;
    color: #fff;
    margin-left: 30px;


}

.header_link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 500ms;


}





 @media  (max-width: 767px) {



     .header_burger{
         display: block;
         position: relative;
         left: 90%;
         width: 30px;
         height: 20px;
         top: 27px;

     }
     .header_menu.active{
         top:0;
         display: block;
         


     }


     .header_burger:before,
     .header_burger:after{
          content: '';
         background-color: white;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         z-index: 2;
         top:15px
     }
     .header_burger:before{
         bottom: 0px;
     }
     .header_burger:after{
         top: 0px;
     }

     .header_burger.active:before{
         transform: rotate(45deg);
         transition: all 0.3s ease 0s;
         top: 11px;
     }
     .header_burger.active:after{
         transform: rotate(-45deg);
         transition: all 0.3s ease 0s;
    top:10px
     }

     .header_burger.active span{
         transform: scale(0);
         transition: all 0.3s ease 0s;
     }

     .header_burger span{
         position: absolute;
         background-color: white;
         left: 0;
         width: 100%;
         height: 2px;
         top:30px;
         z-index: 2;

     }




.header_menu{
    position: fixed;
    display: none;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #641B27;
    padding: 70px 0px 0px 0px;
    transition: all 0.3s ease 0s;
}




     .header_list {
         display: block;
         list-style: none;
         margin-top: 30px;
     }

     .header_link {
         line-height: 4;
         text-decoration: none;
         color: black;
         text-transform: uppercase;
         transition-property: color;
         transition-duration: 500ms;


     }

     }


   















